<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <base href="/" />
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="styles.css" rel="stylesheet" type="" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="#">QodeHR</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
      <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li></li>
          <li>
            <form action="/logout">
              <button class="logout" type="submit">Logout</button>
            </form>
          </li>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div style="background-color: rgba(255,255,255,0.13);" id="layoutSidenav">
    <div style="background-color: rgba(255,255,255,0.13);" id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">QodeHR</div>
            <a class="nav-link">
              <div class="sb-nav-link-icon"><i class="fas fa-address-book"></i></div>
              <form action="/admin">
                <button style="border: azure;" type="submit">Dashboard</button>
              </form>
            </a>
            <a class="nav-link">
              <div class="sb-nav-link-icon"><i class="fas fa-address-book"></i></div>
              <form action="/admin/hr">
                <button style="border: azure;" type="submit">Add HR</button>
              </form>
            </a>
          </div>
        </div>

        <div class="sb-sidenav-footer">
          <div class="small">Logged in as:</div>
          <%=firstName%>
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">

          <h1 class="mt-4">Admin Dashboard</h1>
          <br>
          </div>
            <div>
              <h1>All Users Data</h1>
            </div>
            <div>
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
            `      <% users.forEach((user)=>{%>
                  <tr>
                    <td><%=user.id%></td>
                    <td><%=user.firstName%></td>
                    <td><%=user.lastName%></td>
                    <td><%=user.username%></td>
                    <td><%=user.email%></td>
                    <td><%=user.role.name%></td>
                    <td><form action="/admin/user/<%=user.id%>" method="delete"><button type="submit">delete</button></form>
                    </td>
                  </tr>
                  <% });%>
                </tbody>
              </table>
            </div>
      </main>
      <br>
     </div>
  </div>
<script></script>
</script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>